body { 
    color: brown
}

h1 {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 25px;
    position: relative;
    top: 23px;
    left: 345px;
    }

    #mferraroTag{
    background-color: #4aaaa5;
    color: white;
    padding: 25px;
    font-size: 26px;
    position: relative;
    top: 50px;
    left: 345px;
    Height: 30px;
    width: 150px;
    text-align: center;
    z-index: 1;
    }

    #ABCbio {
        background-color: white;
        width: 200px;
        position: relative;
        left: 1150px;
        top: 17px;
        
    }

#aboutMe
{
    color:  #4aaaa5;
    background-color: white;
    position: relative;
    left: 25px;
    width: 100px;
}

#frame {

    clear: both;
    background-color: #dddddd;
    text-align: center;
    padding: 25px;
    padding-top: 40px;
    height: 900px;
    
}

#content {

    background-color: #ffffff;
    width: 960px;
    padding: 4px;
    margin: 0 auto 0 auto;
    text-align: left;
    height: 700px;

}

#myImage {

    float: left;
    height: 125px;
    width: 200px;
    padding: 25px;
    position: relative;
    bottom: 25px;
    
}

br {
    clear: both;
}

#fillinNameTag{
    background-color: red;
    Position: relative;
    bottom: 30px;
    left: 55px;
    z-index: 1;

}

#fillinAboutBar{
    background-color: white;
    color: black;
    width: 700px;
    position: relative;
    left: 750px;
    top: 84px;
}

#fillinFrame{
    background-color: #dddddd;
    Position: relative;
    height: 900px;
    top: 67px;
}

#fillinContent{
    background-color: white;
    width: 700px;
    float: center;
    position: relative;
    height: 800px;
    left: 400px;
    top: 20px;
}

#fillinContactHeading{
    
    color: #4aaaa5;
    position: relative;
    right: 105px;
    top: 25px;
    
    
}

#fillinName{

    color: black;
    z-index: 2;
    position: relative;
    right: 105px;
    top: 15px;
    
}
#fillinJohnSmithbox{
    background-color: white;
    color: gray;
    border-style: solid;
    font: black;
    z-index: 2;
    padding-top: -10px;
    padding-bottom: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 15px;
    position: relative;
    width: 500px;
    left: 100px;
}

#fillinEmailAddress{
    
    color: black;
    z-index: 2;
    position: relative;
    left: 100px;
}

#fillinGenericEmail{
    background-color: white;
    color: gray;
    border-style: solid;
    font: black;
    padding-top: -10px;
    padding-bottom: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 15px;
    position: relative;
    width: 500px;
    left: 100px;
    
    
    
}

#fillinSubmitButton{
    background-color: #4aaaa5;
    color: white;
    z-index: 2;
    width: 75px;
    length: 25px;
    padding: 2px;
    position: relative;
    top: 50px;
    left: 100px;
    text-align: center;
}

#messageHeading {
    background-color: white;
    color: black;
    position: relative;
    width: 200px;
    left: 100px;
    z-index: 2;
}

#messageBox {
    background-color: white;
    color: gray;
    border-style: solid;
    height: 300px;
    width: 500px;
    position: relative; 
    left: 100px;

}

#Hangman{
    height: 150px;
    width: 200px;
    position: relative;
    bottom: 30px;
    
    
}

#rpgGame{
    height: 150px;
    width: 200px;
    position: relative;
    left: 150px;
    bottom: 130px;
}

#triviaGame{
    height: 150px;
    width: 200px;
    position: relative;
    bottom: 140px;

    
}

#columbiainfoWidget{
    height: 150px;
    width: 200px;
    position: relative;
    bottom: 482px;
    left: 150px;

}

#rockPaperScissors{
    height: 150px;
    width: 200px;
    position: relative;
    bottom: 500px;
    right: 150px;
}

#portfolioFrame{
    background-color: #dddddd;
    padding: 40px;
    text-align: center;
    position: relative;
    top: 125px;
    height: 900px;
    
}

#portfolioContent{
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
    height: 700px;
    width: 500px;
    position: relative;
    left: 500px;
    bottom: 25px;
    
}


#contactframe{
    background-color: #dddddd;
    height: 900px;

}

#contactContent{
    background-color: red;


}

#portfolioHeading{
background-color: #ffffff;
position: relative;
font-size: large;
color: #4aaaa5;
right: 20px;
bottom: 50px;
width: 100px;
font: Arial, Helvetica, sans-serif; 

}

#portfolioNameTag{
    position: relative;
    left: 540px;
    background-color: #4aaaa5;
    color: white;
    position: relative;
    width: 150px;
    height: 100px;
    top: 150px;
    padding-top: 25px;
    text-align: center;
    font-size: x-large;


    
}

#portfolioAboutBar{
    font-size: medium;
    padding: 15px;
    border: #dddddd;
    position: relative;
    right: 535px;
    top: 50px;
    background-color: white;
    width: 200px;
    float: right;
    text-align: right;
    color: black
}

#bottomColorBorder{
    Background-color: #4aaaa5;
    position: relative;
    text-align: center;
    top: 17px;
    
}

#bottomCopyrightBorder{
    Background-color: #666666;
    position: relative;
    text-align: center;
    padding: 15px;
    color:  white;
    
}

#HangmanP{
    background-color:#4aaaa5; 
    position: relative;
    width: 200px;
    z-index: 1;
    top: 107px;
    color: white;
}

#RPGGameP{
    background-color: #4aaaa5;
    position: relative;
    width: 200px;
    z-index: 1;
    left: 300px;
    bottom: 93px;
    color: white;

}

#triviaGameP{
    Background-color: #4aaaa5;
    position: relative;
    width: 200px;
    z-index: 1;
    bottom: 110px;
    color: white;
    
}

#columbiaInfoWidgetP{
    background-color: #4aaaa5;
    position: relative;
    width: 200px;
    z-index: 1;
    left: 300px;
    bottom: 310px;
    color: white;
   
}

#rockPaperScissorsP{
    background-color: #4aaaa5;
    Position: relative;
    width: 200px;
    bottom: 325px;
    z-index: 1;
    color: white;
    
}